<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>λ°©λ…λ΅</title>
    <link rel="stylesheet" href="/guestbook.css" />

  </head>
  <body>
    <div class="container">
      <h1>π―μ£Όλ…•μ΄μ λ°©λ…λ΅π―</h1>
      <!-- λ°©λ…λ΅ μ‘μ„± νΌ -->
       <form action="/guestbook" method="POST">
        <input type="text" name="author" placeholder="μ‘μ„±μ" required/>
        <textarea name="message" placeholder="λ‚΄μ©" required></textarea>
        <button type="submit">λ“±λ΅</button>
       </form>

      <h2>λ°©λ…λ΅ λ©λ΅</h2>
      <div class="entries">
        <!-- λ°©λ…λ΅ λ¦¬μ¤νΈ -->
        <% entries.forEach(entry => { %>
            <div class="entry" data-id="<%= entry._id %>">
              <div class="entry-header">
                <div class="author"><%= entry.author %></div>
                <div class="date"><%= entry.createdAt.toLocaleString() %></div>
              </div>
              <div class="message"><%= entry.message %></div>
              <button class="delete-button">μ‚­μ </button>
            </div>
            <% }) %>
      </div>
    </div>
    <script src="/guestbook.js"></script>
  </body>
</html>
